.main-content {
    padding-top: 70px;
}

.form-signin, .form-register {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
}

#eventos, #Formulario {
  width: 80%;
  margin: 0 auto;
  padding: 0 0px;
  text-align: center;
}

#Formulario {
    width: 38%;
    text-align: left;
}

#buttons {
  text-align: center;
}

#contenedor {
  display: table;
  height: 100%;
  width: 100%;
  margin: 0;
}

#contenido {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

.new {
    margin: 30px 0px;
    width: 39%;
    display: inline-block;
}

/**FILE UPLOADER***/
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}